html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}


@font-face {
    font-family: flood-std;
    src: url('./Flood_Std_Regular.otf');
}

@media screen and (max-width:480px) {
    header {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    header a {
        text-decoration: none;
        color: #354463;
    }

    header a h2 {
        margin-top: 20%;
        font-size: 1.5rem;
        font-weight: 600;
    }

    .menubar {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        line-height: 2rem;
        margin-top: 10%;
    }

    .donate-today-btn {
        margin-top: 6%;
        margin-bottom: 10%;
        border-radius: 60px;
        text-align: center;
        width: 90%;
        margin-left: 5%;
        font-weight: bold;
        font-size: 1.5rem;
        padding: 10px;
        border: 0;
        color: #354463;
        background-color: #C1F7D5;
    }

    .climate-container {
        width: 100%;
        box-sizing: border-box;
        background-image: url("./images/annie-spratt-135307-unsplash.png");
        background-position: 80% center;
        background-repeat: no-repeat;
        background-size: cover;
        padding: 10%;
    }

    .main-card {
        margin-top: 40%;
        background-color: white;
        padding: 10%;
        align-items: center;
    }

    .climate-container .main-card .anchor-tag {
        color: #354463;
        margin-top: 10%;
        text-align: center;
        line-height: 1.5rem;
    }

    .climate-container .main-card h3 {
        margin-top: 10%;
        color: #354463;
        font-size: 1.6rem;
        line-height: 2rem;
        font-weight: 600;
        text-align: center;
        margin-bottom: 15%;
    }

    .smallcard {
        color: white;
        background-color: #354463;
        padding: 5%;
        text-align: center;
        width: 30vw;
    }

    .card-issue {
        margin-left: 22%;
        margin-top: -20%;

    }

    .climate-change {
        margin-left: 4%;
        color: white;
        font-weight: 300;
        font-size: 3rem;
        font-family: flood-std;
    }

    /*2nd page*/
    .Take-action-container {
        background-color: #C1F7D5;
        width: 100%;
        padding-top: 10%;
        padding-bottom: 7%;

    }

    .card-takeaction {
        position: absolute;
        margin-left: 30%;
        margin-top: -15%;
    }

    .action-list-1 {
        display: flex;
        padding-left: 10%;
        justify-content: space-between;
    }

    .action-list-2 {
        margin-left: 10%;
        display: flex;
        justify-content: space-between;
        margin-bottom: 5%;
    }

    .take-action-lists h3 {
        margin-top: 15%;
        color: #354463;
        font-size: 1.5rem;
        font-weight: 700;

    }

    .take-action-lists p {
        margin-top: 5%;
        line-height: 1.5rem;
        color: #354463;
        padding-right: 10%;
    }

    /*3rd page*/
    .protect-climate {
        background-color: #354463;
        padding: 10%;
    }

    .protect-climate .heading {
        padding: 10% 10% 20% 5%;
        color: white;
        text-align: center;
        font-size: 1.5rem;
        line-height: 2rem;
        font-weight: 600;
    }

    .card-whatwedo h3 {
        background-color: white;
        color: #354463;
        width: 40%;
        margin-left: 23%;
        text-align: center;
        padding: 5%;
        font-weight: 600;
    }

    .cardprotect {
        padding: 3%;
        margin-bottom: 20%;
        width: 100%;
        background-color: white;
    }

    img {
        width: 80%;
        margin-top: -10%;
        margin-left: 10%;
    }

    .cardprotect p {
        text-align: center;
        font-size: 1.3rem;
        line-height: 2rem;
        margin-bottom: 10%;
        margin-top: 7%;
        color: #5C6A81;
        padding: 0% 6% 6% 6%;
    }

    .cardprotect h3 {
        color: #354463;
        padding-top: 4%;
        padding-left: 5%;
        text-align: center;
        font-size: 1.5rem;
        margin-top: 10%;
        font-weight: 600;
    }

    .read-more-btn {
        border-radius: 30px;
        width: 60%;
        padding: 4%;
        text-align: center;
        font-size: 1.5rem;
        margin-left: 21%;
        margin-bottom: 12%;
        background-color: #C1F7D5;
        border: 0;
        color: #354463;
        font-weight: 600;
    }

    /* 4th page */
    .hunger-issue {
        background-image: url("images/did-you-know-background.png");
        background-position: 0%;
        background-repeat: no-repeat;
        background-size: cover;
        margin-top: -5%;
        padding-bottom: 10%;
    }

    .didyouknow-card {
        position: relative;
        width: 35%;
        margin-left: 30%;
        margin-bottom: -10%;
    }

    .climate-change-heading {
        padding: 15% 10% 5% 10%;
        font-weight: 500;
        font-size: 3.5rem;
        line-height: 3.5rem;
        color: white;
        font-family: flood-std;
    }

    .hunger-issue .action-btn {
        border-radius: 32px;
        width: 50%;
        padding: 3%;
        text-align: center;
        font-size: 1rem;
        margin-bottom: 15%;
        margin-left: 10%;
        background-color: #C1F7D5;
        border: 0;
        color: #5C6A81;
        font-weight: 700;
    }

    .hunger {
        display: flex;
        justify-content: space-around;
        column-gap: 17%;
        padding: 7%;
        background-color: white;
        margin: 5% 8% 8% 10%;
        color: #5C6A81;
    }

    .hunger h3 {
        margin-bottom: 10%;
        color: #5C6A81;
        font-size: 1.5rem;
        font-weight: 800;
    }

    .content {
        line-height: 1.5rem;
    }

    .icons {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    .twitterandfacebook-btn {
        width: 40px;
        height: 40px;
        border-radius: 100%;
        padding-left: 25%;
        padding-right: 30%;
        background-color: #C1F7D5;
        border: 0;
    }

    /* 5th page*/
    .stories .img {
        width: 100%;
        height: 100%;
    }

    .story {
        margin-top: 10%;
        margin-left: 30%;
        position: relative;
    }

    .cardsolving {
        background-color: #5C6A81;
        margin: 10%;
        color: white;
    }

    .cardsolving h2 {
        padding: 10%;
        font-size: 1.5rem;
        font-weight: 300;
        text-align: center;
        line-height: 2rem;
    }

    .cardsolving p {
        text-align: center;
        padding-bottom: 5%;
    }

    .future {
        background-color: #5C6A81;
    }

    .future .future-heading {
        text-align: center;
        padding: 10%;
        font-size: 3rem;
        line-height: 3rem;
        font-weight: 500;
        color: white;
        font-family: flood-std;
    }

    .event {
        margin-left: 30%;
        position: relative;
        background-color: white;
        color: #5C6A81
    }

    .earth-day-content h2 {
        text-align: center;
        font-size: 1.5rem;
        padding: 8%;
        color: white;
    }

    .earth-day-content p {
        padding: 4% 10% 10% 10%;
        text-align: center;
        font-family: sans-serif;
        color: white;
        line-height: 1.5rem;
    }

    .news {
        margin-left: 30%;
        position: relative;
        background-color: white;
        color: #5C6A81
    }

    /*6thpage*/
    .subscribe {
        background-color: #C1F7D5;
    }

    .subscribe h3 {
        padding: 10%;
        font-size: 1.5rem;
        line-height: 2rem;
        color: #5C6A81;
        font-weight: 600;
    }

    .email {
        display: flex;
        justify-content: space-around;
        padding: 4% 4% 10% 4%;
    }

    .email input {
        border-radius: 30px;
        width: 50%;
        padding: 4%;
        text-align: center;
        font-size: 1rem;
        border: 0;
        color: #5C6A81;
    }

    .subscribe-button {
        border-radius: 30px;
        width: 30%;
        padding: 5%;
        text-align: center;
        font-size: 1rem;
        background-color: #5C6A81;
        border: 0;
        color: white;
        font-weight: 600;

    }

    /*last page*/
    .trees-footer {
        display: flex;
        justify-content: space-around;
        margin-top: 10%;
        margin-bottom: 10%;
    }

    .trees-footer h2 {
        color: #354463;
        font-size: 2rem;
        font-weight: 500;
        margin-left: 10%;
        padding-right: 5%;

    }

    .trees-footer h3 {
        margin-bottom: 10%;
        color: #354463;
    }

    .contact {
        margin-right: 15%;
    }

    .contact p {
        color: #354463;
        line-height: 1.5rem;
    }

    .references {
        display: flex;
        justify-content: space-around;
        margin-bottom: 10%;
    }

    .references .links1 a {
        display: block;
        color: #354463;
    }

    .references .links2 a {
        display: block;
        color: #354463;
        margin-left: -13%;
    }

    .references h3 {
        margin-bottom: 10%;
        color: #354463;
    }

    .references .links2 h3 {
        margin-left: -13%;
    }

    .end {
        color: #354463;
        font-size: 3rem;
        line-height: 3rem;
        padding: 0% 0% 20% 40%;
        font-family: flood-std;
    }

}


@media screen and (min-width:481px) {
    header {
        display: grid;
        grid-template-columns: 30% 50%;
    }

    header a {
        text-decoration: none;
    }

    header h2 {
        padding-top: 10%;
        color: #333333;
        font-size: 1.5rem;
        font-weight: 600;
        margin-left: 30%;
    }

    header .menubar {
        margin-left: 20%;
        display: flex;
    }

    header .menubar a {
        padding: 10% 10% 10% 7%;
        color: #3F293F;
    }

    .donate-today-btn {
        position: absolute;
        top: 5.5%;
        right: 5%;
        border-radius: 60px;
        text-align: center;
        width: 12%;
        font-size: 1rem;
        padding: 15px;
        border: 0;
        font-weight: 600;
        color: #354463;
        background-color: #C1F7D5;
    }

    /* 1stpage*/
    .climate-container {
        display: flex;
        justify-content: space-between;
        box-sizing: border-box;
        background-image: url("./images/annie-spratt-135307-unsplash.png");
        background-repeat: no-repeat;
        background-size: cover;
        padding: 10%;
    }

    .main-card {
        background-color: white;
        order: 1;
        width: 60%;
    }


    .climate-change {
        order: 2;
        color: white;
        font-weight: 500;
        font-size: 4rem;
        line-height: 4.5rem;
        font-family: flood-std;
        margin-right: 5%;
    }

    .climate-container .main-card h3 {
        color: #354463;
        padding: 13%;
        font-size: 3rem;
        font-weight: 600;
        line-height: 3rem;
    }

    .climate-container .main-card .anchor-tag {
        color: #333333;
        padding-left: 13%;
        padding-bottom: 20%;

    }

    .smallcard {
        color: white;
        background-color: #354463;
        padding: 2%;
        text-align: center;

    }

    .card-issue {
        width: 10vw;
        margin-left: 12%;
        margin-top: -3%;
    }

    /*2nd page*/
    .Take-action-container {
        background-color: #C1F7D5;
        width: 100%;
        padding-top: 5%;
        padding-bottom: 7%;
    }

    .card-takeaction {
        padding: 1%;
        width: 13vw;
        position: absolute;
        margin-left: 40%;
        margin-top: -6.5%;
    }

    .take-action-lists {
        display: grid;
        grid-template-columns: 50% 50%;
        align-items: center;
    }

    .action-list-1 {
        display: flex;
        justify-content: space-between;
        margin-left: 10%;
    }

    .action-list-2 {
        display: flex;
        justify-content: space-between;
        margin-right: 10%;
    }

    .action-list-1 p {
        padding-right: 10%;
    }

    .action-list-2 p {
        padding-right: 10%;
    }

    .take-action-lists h3 {
        margin-top: 10%;
        color: #354463;
        font-size: 1.5rem;
        font-weight: 700;
    }

    .take-action-lists p {
        margin-top: 10%;
        line-height: 1.5rem;
        color: #354463;
    }

    /* 3rd page */
    .protect-climate {
        background-color: #354463;
        padding-top: 5%;
    }

    .card-whatwedo h3 {
        background-color: white;
        color: #5C6A81;
        width: 15%;
        margin-left: 5%;
        text-align: center;
        padding: 1%;

    }

    .protect-climate .heading {
        padding: 5%;
        color: white;
        font-size: 2.4rem;
        line-height: 2.5rem;
        font-weight: 600;
    }

    .protect {
        display: flex;

    }
    
    .cardprotect {
        background-color: white;
        margin-top: 5%;
        margin-right: 5%;
        margin-bottom: 10%;
    }

    img {
        width: 90%;
        margin-top: -15%;
        margin-left: 17%;
    }

    .Tree-planting {
        margin-left: 5%;
    }

    .cardprotect p {
        padding-left: 10%;
        line-height: 2rem;
        margin-bottom: 10%;
        margin-top: 7%;
        color: #8A92A4;
    }

    .cardprotect h3 {
        padding-left: 10%;
        color: #354463;
        font-size: 2rem;
        margin-top: 10%;
        font-weight: 600;
    }

    .read-more-btn {
        border-radius: 30px;
        width: 50%;
        padding: 4%;
        text-align: center;
        font-size: 1rem;
        margin-left: 10%;
        margin-bottom: 12%;
        background-color: #C1F7D5;
        border: 0;
        color: #354463;
        font-weight: 600;
    }

    /*4th page */
    .hunger-issue {
        background-image: url("images/did-you-know-background.png");
        background-position: 0%;
        background-repeat: no-repeat;
        background-size: cover;
        padding-bottom: 10%;
        display: flex;
        justify-content: space-around;
    }

    .combined2 {
        position: relative;
    }

    .combined2 .didyouknow-card {
        position: absolute;
        width: 35%;
        margin-left: 10%;
        margin-top: 23%;
    }

    .combined2 .didyouknow-card p {
        padding: 3%
    }

    .climate-change-heading {
        font-weight: 700;
        font-size: 3.5rem;
        line-height: 4rem;
        color: white;
        font-family: flood-std;
        margin-top: 50%;
    }

    .hunger-issue .action-btn {
        border-radius: 32px;
        width: 60%;
        padding: 3%;
        text-align: center;
        font-size: 1rem;
        margin-top: 15%;
        margin-left: 2%;
        background-color: #C1F7D5;
        border: 0;
        color: #5C6A81;
        font-weight: 500;
    }

    .hunger {
        display: flex;
        justify-content: space-around;
        column-gap: 17%;
        padding: 7%;
        background-color: white;
        color: #354463;
        margin-top: 10%;

    }

    .rating {
        margin-top: 28%;
    }

    .hunger h3 {
        margin-bottom: 10%;
        color: #5C6A81;
        font-size: 1.5rem;
        font-weight: 800;
    }

    .icons {
        display: flex;
        flex-direction: column;
        justify-content: space-around;

    }

    .twitterandfacebook-btn {
        width: 40px;
        height: 40px;
        border-radius: 100%;
        padding-left: 25%;
        padding-right: 30%;
        margin-bottom: 15%;
        background-color: #C1F7D5;
        border: 0;
    }

    /*5th page*/
    .storycard {
        display: flex;
        padding: 10%;
    }

    .stories {
        order: 1;
    }

    .stories img {
        margin-left: -90%;
        width: 180%;
    }

    .stories .story {
        margin-top: -5%;
        margin-left: -15%;
        position: absolute;
        width: 8vw;
        padding: 1%;
    }

    .cardsolving {
        position: relative;
        background-color: #354463;
        color: white;
        width: 80%;
        height: 60%;

    }

    .cardsolving h2 {
        padding: 10%;
        font-size: 2rem;
        font-weight: 600;
        line-height: 2rem;
    }

    .cardsolving p {
        text-align: center;
        padding-bottom: 5%;
    }

    .cardsolvingcontainer .read-more-btn {
        padding: 2%;
        width: 15vw;
        margin-top: 5%;
        margin-left: 2%;
    }

    /*6th page*/
    .future {
        background-color: #354463;
    }

    .image-tree img {
        width: 40%;
        margin-left: 10%;
        height: 80vh;
    }

    .future .future-heading {
        padding: 10% 35% 5% 10%;
        font-size: 3.5rem;
        line-height: 3.5rem;
        font-weight: 500;
        color: white;
        font-family: flood-std;
    }

    .event {
        padding: 1%;
        width: 10vw;
        margin-left: 60%;
        margin-bottom: 12%;
        position: relative;
        background-color: white;
        color: #5C6A81
    }

    .planting-event h2 {
        font-size: 2.8rem;
        padding: 8%;
        color: white;
        margin-left: 52%;
        margin-top: -43%;
    }

    .planting-event p {
        font-family: sans-serif;
        color: white;
        line-height: 2rem;
        margin-left: 60%;
        margin-top: -5%;
        margin-right: 10%;
    }

    .planting-event .read-more-btn {
        padding: 1%;
        width: 10vw;
        margin-left: 60%;
        margin-top: 4%;

    }

    .image-tree2 img {
        width: 40%;
        height: 80vh;
        margin-top: -5%;
        margin-left: 45%;
        margin-bottom: 20%;

    }

    .news {
        padding: 1%;
        width: 15vw;
        margin-left: 10%;
        background-color: white;
        color: #5C6A81;
        position: absolute;
        margin-top: -4%;
    }

    .latestnews h2 {
        font-size: 2.8rem;
        padding: 15% 55% 10% 5%;
        color: white;
        margin-top: -68%;
        margin-left: 5%;
    }

    .latestnews p {
        margin-top: -7%;
        line-height: 2rem;
        margin-right: 60%;
        margin-left: 10%;
        color: white;
    }

    .latestnews .read-more-btn {
        padding: 1%;
        width: 10vw;
        margin-left: 10%;
        margin-top: 3%;

    }

    /*7thpage*/
    .subscribe {
        background-color: #C1F7D5;
        display: flex;
        padding-bottom: 5%;
    }

    .subscribe h3 {
        font-size: 1.5rem;
        line-height: 2rem;
        color: #5C6A81;
        margin-top: 5%;
        margin-left: 5%;
    }

    .email {
        display: flex;
        padding: 2%;
        margin-right: 10%;
        margin-top: 4%;
    }

    .email input {
        width: 35vw;
        padding-right: 15%;
        border-radius: 30px;
        text-align: center;
        font-size: 1rem;
        border: 0;
        color: #5C6A81;
        margin-right: 8%;
        margin-left: 15%;
    }

    .subscribe-button {
        border-radius: 30px;
        width: 40%;
        padding: 3%;
        text-align: center;
        font-size: 1rem;
        background-color: #5C6A81;
        border: 0;
        color: white;

    }

    /*last page*/
    footer {
        padding: 10%;
        display: grid;
        grid-template-columns: 40% 40% 20%;
    }

    .trees-footer {
        display: flex;
        justify-content: space-around;

    }

    .references {
        display: flex;
        justify-content: space-around;
    }

    .trees-footer h2 {
        padding-right: 15%;
        font-size: 1.4rem;
        font-weight: 600;
        color: #333333;
    }

    .contact {
        margin-right: 20%;
    }

    .contact h3 {
        margin-bottom: 10%;
        line-height: 1.5rem;
        border-bottom: 1px solid;
        color: #364564;
    }

    .contact p {
        display: block;
        color: #3B4967;
    }

    .references h3 {
        margin-bottom: 10%;
        line-height: 1.5rem;
        border-bottom: 1px solid;
        color: #364564
    }

    .links1 a {
        color: #354463;
        text-decoration: none;
        line-height: 1.5rem;
    }

    .links2 a {
        color: #354463;
        text-decoration: none;
        line-height: 1.5rem;
    }

    .end {
        color: #354463;
        font-size: 3rem;
        line-height: 3rem;
        font-family: flood-std;
        margin-left: 15%;
    }
}